.all{
    background-color:#f8f5f2;
}

.heading{
    background-color: #90b4ce;
    height: 65px;
    line-height: 65px;
    border-radius: 45px;
    font-family: cursive;

}

.second-text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.hotel{
    margin: 20px;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}